body {
  background-color: #6bbcbe;
  display: flex;
  flex-direction: column;
}

span {
  display: flex;
  justify-content: center;
}

div {
  background-color: white;
}

.circle-box__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 20px;
}

.square-box__square {
  width: 20px;
  height: 70px;
  margin: 5px;
}

@keyframes circleChange {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

.circle-box {
  animation: circleChange 1s infinite;
}

@keyframes squareChange {
  0% {
    transform: scaleY(1);
  }
  30% {
    transform: scaleY(2);
  }

  70% {
    transform: scaleY(1);
  }
}

.square-box__square:first-child {
  animation: squareChange 1s infinite;
}
.square-box__square:nth-child(2) {
  animation: squareChange 1s infinite;
  animation-delay: 0.1s;
}

.square-box__square:nth-child(3) {
  animation: squareChange 1s infinite;
  animation-delay: 0.2s;
}

.square-box__square:nth-child(4) {
  animation: squareChange 1s infinite;
  animation-delay: 0.3s;
}

.square-box__square:last-child {
  animation: squareChange 1s infinite;
  animation-delay: 0.4s;
}
