body {
  height: 100%;
  width: 50%;
  font-family: sans-serif;
  background-color: #faf4fe;
}

.main-box {
  background-color: white;
  font-weight: 600;
  position: absolute;
  left: 35%;
  border-radius: 4px solid #faf4fe;
}

.playlist {
  display: flex;
  align-items: center;
  justify-content: ;
  padding: 150px;
}

.playlist i {
  margin-right: 150px;
  margin-left: -80px;
}

.playlist__title {
  font-size: 30px;
}

.playing-music {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playing-music img {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  padding: 0 20px;
}

.playing-music__title {
  font-size: 35px;
  padding-right: 20px;
}

.playing-music__artist {
  font-size: 20px;
  font-weight: 600;
  padding-top: 15px;
}

.button {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}

.button__play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border: 1px solid;
  border-radius: 20px;
  border-width: 1px 2px 4px 2px;
}

.button__heart,
.button__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-radius: 50%;
  border-width: 1px 2px 4px 2px;
}

.music-list {
  padding: 0 40px;
}

.music-list__music img {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  margin-right: 30px;
}

.music-list__music {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.music-list__artist {
  margin-top: 10px;
  opacity: 0.7;
}
