* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  background-color: #ffce33;
  width: 50%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header__title {
  font-size: 25px;
  font-weight: 600;
}

.search {
  width: 95%;
  display: flex;
  justify-content: center;
  position: relative;
}

.search__input {
  width: 45%;
  height: 5vh;
  border: white;
  border-radius: 25px;
  position: absolute;
  top: -25px;
  padding-left: 30px;
  box-shadow: 1px 1px grey;
}

.search i {
  position: absolute;
  top: -6px;
  right: 30%;
  opacity: 0.6;
}

.main {
  background-color: aliceblue;
  width: 50%;
  padding-left: 20px;
}

.bookOfTheDay {
  margin: 70px 0;
}

.bookOfTheDay__title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 30px;
}

.bookOfTheDay__book {
  display: flex;
}

.bookOfTheDay__book img {
  width: 200px;
  height: 280px;
  border-radius: 10px;
  margin-right: 15px;
}

.bookOfTheDay__info p:first-child {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 20px;
}

.bookOfTheDay__info p:nth-child(2) {
  font-size: 17px;
  font-weight: 600;
  opacity: 0.5;
  margin-bottom: 20px;
}

.bookOfTheDay__star {
  padding-left: 3px;
  color: #ffce33;
  margin-bottom: 30px;
}

.bookOfTheDay__star i:last-child {
  color: black;
  opacity: 0.3;
}

.bookOfTheDay__btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.bookOfTheDay__journey,
.bookOfTheDay__biography {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  font-weight: 600;
  font-size: 13px;
  background-color: rgb(219, 223, 211);
  border-radius: 5px;
}

.bookOfTheDay__buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
}

.bookOfTheDay__bookmark {
  background-color: #ffce33;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid #ffce33;
  border-radius: 50%;
  margin-right: 50px;
}

.bookOfTheDay__buyBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 130px;
}

.topAdventures {
  overflow-x: scroll;
  margin-bottom: 30px;
}

.topAdventures__title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}

.topAdventures__booklist {
  display: flex;
}

.topAdventures__booklist li {
  min-width: 200px;
}

.topAdventures img {
  width: 100px;
  height: 150px;
  border-radius: 5px;
}

.topAdventures__star {
  color: #ffce33;
  font-size: 10px;
  padding-left: 5px;
}

.topAdventures__star i:last-child {
  color: black;
  opacity: 0.2;
}

.popularAuthors__title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}

.popularAuthors__info {
  display: flex;
  flex-direction: row;
}

.popularAuthors__info img {
  width: 130px;
  height: 160px;
  border-radius: 10px;
  margin-right: 40px;
}

.popularAuthor__name {
  font-size: 24px;
  font-weight: 600;
  opacity: 0.7;
}

.popularAuthor__info {
  margin-top: 15px;
  font-size: 18px;
  opacity: 0.4;
}

.popularAuthor__info p:last-child {
  opacity: 0.2;
}
